body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
}

footer {
    color:rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    display: flex;
    
}

header {
    border-bottom: 3px solid black;
    width: 100%;
}

h2 {
    font-weight: lighter;
}

footer p {
    padding: 0px 20px 0px 20px;
}

main {
    margin: 10px;
}

header h1 {
    margin-left: 10px;
}