@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.title {
    display: flex;
}

.nav-items {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0px 20px;
    margin-right: 40px;
}

.nav-items li {
    margin-left: 1px;
    background-color: lightgrey;
    padding: 20px 20px;
}


.nav-items li:hover{
    background-color: #E24E2A;
    color: white;
}


.navigation h3::after{
    content: "";
    width: 2px;
    height: 45px;
    background-color: lightgrey;
    margin-left: 20px;
}

.navigation p {
    display: flex;
    font-size: 15px;
    margin-top: 60px;
    margin-left: 20px;
   
}

.navigation h3 {
    display: flex;
    font-size: 40px;
}

.content {
    background-color: #E24E2A;
    padding: 50px;
}

.content p {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    margin: 0px 90px;
    color: papayawhip;
}

.banner {
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.benefits {
    background-color: #383838;
}

.benefits-items {
    display: flex;
}

.benefits-content-first{
    margin: 50px;
    text-align: center;
    flex-basis: 20%;
}

.benefits-content-first i {
    font-size: 60px;
    padding: 30px;
    background-color: #E24E2A;
    margin: 50px 50px 5px 50px;
    color: #FFFFFF;
}

.benefits-content-first-p{
    font-size: 25px;
    color: white;
}

.benefits-content-first-p::after{
    content: "";
    width: 2px;
    background-color: #6A6F6C;
}

.benefits-content-second-p{
    color: #6A6F6C;
    font-size: 15px;
    line-height: 20px;
    border-top: 2px solid #414241;
    padding-top: 20px;
}

.information-content h2 {
    font-weight: 545;
    color: #414241;
    margin: 2px;
    font-size: 40px;
}

.information-content p {
    font-size: 20px;
    color: #A09E9C;
    margin: 0px 0px 50px;
    
}

.information {
    padding: 80px;
}

.information-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-content .information-button a {
    background-color: #1B9772;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 550;
    padding: 20px 60px;
}

.benefits-content-second-p-no-border{
    color: #6A6F6C;
    font-size: 17px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;

    padding: 30px 0px;
}

.footer-content {
    display: flex;
    align-content: center;
    background-color: #1B9772;
    color: #60B597;
    justify-content: center;
    padding: 70px 90px;
}

.footer-section strong {
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 15px;
    color: #9FD6C5;
}

.content strong {
    text-decoration: underline;
}

.content b {
    columns: #F5C7BD;
}



