main {
    background-color: #f7f381;
    Padding: 8px 24px;

    Width: 500px;
    
    Border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
    font-size: 30px;
     
}

main ol {
    margin: 12px
}

