@media all and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .main-nav {
        display: none;
    }

    .hero-head {
        background-image: none;
        display: flex;
        flex-direction: column;
        background-color: black;
    }

    .wrap {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .hero-head .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .content-wrap {
        flex-direction: column;
        text-align: center;
    }

    .content-wrap.two-col .col {
        margin-right: 0px;
    }


    .hero-head .goal {
        float: left;
        clear: both;
        color: #fff;
        font-size: 16px;
        line-height: 32px;
        max-width: 90%;
        text-align: center;
    }

    .hero-head h1 {
        float: left;
        font-size: 30px;
        color: #fff;
        font-family: 'PT Serif', serif;
        line-height: 68px;
        margin: 40px 0 20px;
    }

    .hero-head .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .content.sponsors {
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .content.bordered {
        display: flex;
        width: auto;
    }

    .main-foot {
        display: flex;
        flex-direction: column;
        
    }

    .main-foot .wrapper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: auto;
    }

    .bottom{
        display: flex;
    }

    .button.js-modal-open{
        width: 90%;
    }



}