
@media all and (max-width: 600px) {
    header .avatar img {
        width: 13em;
    }

    .icon.style2 {
        padding: 0.8em;
        margin: 10px;
    }

    header {
        padding: 6em 0 6em 0;
    }

    h1 {
        font-size: 41px;
    }

    .thumbnails {
        display: flex;
        flex-direction: column;
        width: 110%;
    }

    .thumbnails > div {
        width: 90%;
        margin-left: 20px;
    }

    .thumbnails a img {
        max-height: 250px;
    }

    .thumbnails a {
        margin: 2em 0em 0em 0;
    }
    
    p {
        font-size: 22px;
    }
}