*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

.main {
    background-color: rgb(246, 248, 249);
    display: flex;
    margin: 150px auto;
    max-width: 1200px;
    height: 400px;
    border-radius: 10px;
}

