body {
    margin: 0;
    
}


.viewport {
    height: 120vh;
    position: relative;
}

.viewport:nth-child(1){
    background: rgb(27,97,157);
    background: linear-gradient(90deg, rgba(27,97,157,1) 0%, rgba(46,150,161,1) 35%, rgba(62,192,162,1) 100%);
}

.viewport:nth-child(2){
    background: rgb(170,54,115);
    background: linear-gradient(90deg, rgba(170,54,115,1) 0%, rgba(190,81,77,1) 35%, rgba(208,124,26,1) 100%);
}



.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




