@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat+Subrayada&family=Montserrat:wght@300&family=Moon+Dance&family=Pacifico&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,400;0,500;1,400&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 16px;
}

.main {
    display: flex;
    flex-direction: column;
}

.first-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.first-content {
    display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: stretch;
}

.first-header i {
padding: 5px;
}

.first-section, .second-section, .third-section {
    background-color: #EFEFEF;
    margin-bottom: 20px;
}


.first-img {
    display: flex;
    justify-content: flex-end;
    
}

.first-img img {
    display: flex;
    margin: 30px 90px 0px 0px;
    width: 70%;
}

.first-text {
    width: 30%;
    display: flex;
    float: left;
    flex-direction: column;
    margin: 50px 0px 0px 0px;
    padding: 20px;
}
.first-text h1 {
    font-size: 40px;
    margin: 50px 0px 20px 0px;
}

.second-text h1 {
    font-size: 50px;
    margin: 50px 0px 20px 100px;
}

.first-text h1 span, .second-text h1 span {
    font-weight: 300;
}

.first-text blockquote {
    border-left: 2px solid black;
    height: 60px;
    margin: 0px;
}

.first-text p {
    font-size: 17px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}
.second-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-img {
    padding: 40px;
    display: flex;
    align-items: flex-start;
}

.second-img {
    display: flex;
    align-items: center;
}
