@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat+Subrayada&family=Montserrat:wght@300&family=Moon+Dance&family=Pacifico&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,400;0,500;1,400&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 16px;
}

.main {
    display: flex;
    flex-direction: column;
}

.first-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.first-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}


.first-header i {
    padding: 5px;
}

.first-section,
.second-section,
.third-section,
.forth-section,
.fifth-section {
    background-color: #EFEFEF;
    margin-bottom: 20px;
}


.first-img{
    display: flex;
    justify-content: flex-end;

}

.first-img img {
    display: flex;
    margin: 30px 90px 0px 0px;
    width: 70%;
}

.first-text {
    width: 30%;
    display: flex;
    float: left;
    flex-direction: column;
    margin: 50px 0px 0px 0px;
    padding: 20px;
}



.first-text h1{
    font-size: 40px;
    margin: 50px 0px 20px 0px;
}

.second-text h1 {
    font-size: 50px;
    margin: 50px 0px 20px 100px;
}

.first-text h1 span,
.second-text h1 span,
.forth.text h1 span {
    font-weight: 300;
}

.first-text blockquote {
    border-left: 2px solid black;
    height: 60px;
    margin: 0px;
}

.first-text p{
    font-size: 17px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}

.second-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-img {
    padding: 40px;
    display: flex;
    align-items: flex-start;
}

.second-img {
    display: flex;
    align-items: center;
}

.icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}


.icons li a {
    background-color: #909090;
    padding: 8px 12px;
    color: white;
}

.icons li {
    margin-right: 30px;
}

.divider {
    width: 5rem;
    height: 1px;
    background-color: black;
    position: relative;
    top: 80px
}

.second-text p {
    width: 80%;
    font-style: italic;
    line-height: 1.5;

}

.third-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third-section {
    height: 85vh;
}

.forth-img {
    display: flex;
    place-content: stretch center;
    align-items: center;
    margin: 0px;
    width: 70%;
}
.forth-img img {
    width: 70%;
    margin: 0px;
}

.forth-text h1 span {
    font-weight: 300;
    margin-left: 10px;
}

.forth-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    padding: 90px 0px 90px 0px;
}

.forth-text {
    width: 40%;
    display: flex;
    float: left;
    flex-direction: column;
    margin: 50px 0px 0px;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: stretch;
}

.forth-text h1 {
    font-size: 50px;
    display: inline-block;
    margin: 40px 0px 0px 100px;
}

.forth-text p {
    font-size: 17px;
    font-weight: lighter;
    display: flex;
    margin: 20px 10px 20px 100px;
    font-style: italic;
    line-height: 1.5;
}

.forth-text blockquote{
    border-left: 2px solid black;
    height: 60px;
    margin-left: 100px;
    margin-top: 0px;
}

.fifth-section {
    display: flex;
    justify-content: center;
    padding: 10rem;
}

.fifth-section img {
    width: 33%;
    position: relative;
}
.fifth-section img:nth-child(1){
    left: 55px;
    z-index: 1;
}