@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat+Subrayada&family=Montserrat:wght@300&family=Moon+Dance&family=Pacifico&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,400;0,500;1,400&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 16px;
}

.main {
    display: flex;
    flex-direction: column;
}

.first-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}