@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Lato:wght@300&family=Montserrat+Subrayada&family=Montserrat:wght@300&family=Moon+Dance&family=Pacifico&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,400;0,500;1,400&family=Roboto:wght@100;300;400&display=swap');

html {
    font-family: 'Roboto', sans-serif;;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.header {
    display: flex;
    margin-top: -20px;
}



.first-img img {
    width: 15%;
}

.first-register {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 40%;
}

.first-register li {
    margin-right: 10px;
}

.first-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h1 {
    font-size: 55px;
    margin: 0px;
    color: #2977C9;
    font-weight: 400;
    width: 63%;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.second-img {
    position: absolute;
    left: 49%;
    top: 0;
    right: 0;
    width: 50%;
}

.first-section {
    margin-bottom: 164px;
    margin-left: 100px;
}

#password {
    text-decoration: none;
    color: #60666A;
    margin-bottom: 20px;
}

#sign{
    padding: 18px 176px;
    color: white;
    background-color: #0A66C2;
    border-radius: 30px;
    font-weight: 400px;
    font-size: 20px;
    text-decoration: none;
}

.first-register li:nth-child(1) > a {
    background-color: white;
    padding: 5px 30px;
    text-decoration: none;
    color: #9898a7;
    font-weight: bold;
}

.first-register li:nth-child(2) > a {
    border: 2px solid #005EC4;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    padding: 10px 25px;
    color: #005EC4;
    font-weight: bold;
}

#email, #password {
    width: 42%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#show {
    position: relative;
    left: 36%;
    bottom: 17%;
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

#password-show {
    padding: 0px 15px 20px 0px;
    text-decoration: none;
    color: grey;
}

.second-section {
    background-color: #FAF9F7;
    display: flex;
    padding: 112px 100px;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.div {
    width: 47%;
}

.div p {
    color: #5B5A59;
    font-weight: 600;
}

.second-section h1 {
    font-weight: 400;
    font-size: 41px;
    width: 22%;
    margin: 100px;
}

.searches {
    column-count: 3;
    text-decoration: none;
    list-style-type: none;
    
}

.searches li {
    margin: 2px;
    padding: 15px 3px;
    font-weight: bold;
    border-radius: 36px;
    background-color: #E6E5E4;
    color: #5C5C5A;
    text-align: center;
}

.third-section {
    background-color: #F1ECE5;
}

.post {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    padding: 61px;
}

.post h2 {
    color: #B24020;
    font-weight: 400;
    width: 23%;
    font-size: 30px;
}

.post a {
    text-decoration: none;
    border: 1px solid #5F5E5C;
    color: #5F5E5C;
    border-radius: 30px;
    padding: 14px;
    font-weight: bold;
    margin-left: 30px;
}

.fourth-section {
    display: flex;
    /* background-color: grey; */
    padding: 100px;
    background-color: #FAF9F7;
}

.forth-content {
    width: 52%;
}

.forth-content h2{
    color: #2977C9;
    font-size: 49px;
    font-weight: 400;
}

.forth-content p {
    font-size: 40px;
}

.fourth-section img {
    width: 37%;
}

.fifth-section {
    display: flex;
    padding: 100px;
    /* padding: 100px 100px 100px 100px; */
    align-items: center;
}

.fifth-content-1 {
    margin-right: 250px;
}

.fifth-content-img-1 {
    width: 72%;
}

.fifth-content-1 h2 {
    font-size: 47px;
    font-weight: 400;
}

.fifth-content-1 a {
    border: 1px solid #686A6B;
    border-radius: 35px;
    padding: 16px 54px;
    color: #686A6B;
    font-weight: bold;
    text-align: center;
}

.fifth-content-img-2 {
    width: 67%;
}

.fifth-content-2 h2 {
    font-size: 44px;
    font-weight: 400;
}

.six-section {
    background-image: url(./images/background.svg);
    flex-direction: row;
    margin-top: 20px;
    background-repeat: no-repeat;
    height: 85vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.six-section-header {
    padding: 50px;
}

.six-section-header button {
    color: white;
    background: #2977C9;
    border-radius: 35px;
    border: 0px;
    padding: 15px 19px;
}

.six-section-header h1 {
    color: #2977C9;
    font-size: 46px;
    width: 53%;
}

.footer {
    display: flex;
    background-color: #FAF9F7;
    align-content: space-around;
    justify-content: center;
}

.logo {
    width: 17%;
}

.logo img {
    width: 60%;
}

.navigation {
    display: flex;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul h2 {
    font-size: 18px;
}

.navigation ul li {
    color: #5E6775;
    line-height: 1.7;
    font-weight: 600;
}